[data-theme="telegram"] {
  --color-accent: var(--tg-theme-accent-text-color, #3b82f6);
  --color-base-100: var(--tg-theme-bg-color, #ffffff);
  --color-base-200: var(--tg-theme-secondary-bg-color, #f3f4f6);
  --color-text: var(--tg-theme-text-color, #1f2937);
  --color-primary: var(--tg-theme-button-color, #3b82f6);
  --color-primary-content: var(--tg-theme-button-text-color, #ffffff);
  --color-error: var(--tg-theme-destructive-text-color, #ef4444);
}
[data-theme="telegram"] .app-container {
  background-color: var(--color-base-100);
  color: var(--color-text);
}
[data-theme="telegram"] .label {
  color: var(--color-text);
}
.logo-color {
  filter: none;
}
[data-theme="telegram"][style*="--tg-color-scheme: dark;"] .logo-color {
  filter: invert(1) brightness(2);
}

[data-theme="telegram"] .btn {
  background-color: var(--color-primary);
  color: var(--color-primary-content);
  border: none;
  transition: background-color 0.3s;
}

[data-theme="telegram"] .btn:hover {
  background-color: color-mix(in srgb, var(--color-primary) 90%, black);
}

[data-theme="telegram"] .text-color {
  color: var(--tg-theme-text-color);
}

[data-theme="telegram"] .active-bg {
  background-color: var(--tg-theme-button-color);
}

[data-theme="telegram"] .sec-bg {
  background-color: var(--tg-theme-secondary-bg-color);
}
[data-theme="telegram"][style*="--tg-color-scheme: dark;"] .bottom-nav-text {
  color: var(--tg-theme-text-color) !important;
  background-color: var(--tg-theme-text-color) !important;
}
[data-theme="telegram"] .bottom-nav-fill {
  fill: var(--tg-theme-text-color) !important;
  stroke: var(--tg-theme-text-color) !important;
}
[data-theme="telegram"] .svg-fill {
  fill: var(--tg-theme-button-text-color) !important;
  stroke: var(--tg-theme-button-text-color) !important;
}
[data-theme="telegram"] .primary {
  color: var(--tg-theme-button-color) !important;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

[data-theme="telegram"] .btn-transparent {
  background-color: transparent !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
