:root [data-theme="telegram"] {
  --base-100: var(--tg-theme-bg-color) !important;
  --base-content: var(--tg-theme-text-color) !important;
}
.logo-color {
  filter: none;
}
[data-theme="telegram"][style*="--tg-color-scheme: dark;"] .logo-color {
  filter: invert(1) brightness(2);
}

[data-theme="telegram"] .btn {
  color: var(--tg-theme-button-text-color);
  background-color: var(--tg-theme-button-color);
}

[data-theme="telegram"] .text-color {
  color: var(--tg-theme-text-color);
}

[data-theme="telegram"] .active-bg {
  background-color: var(--tg-theme-button-color);
}

[data-theme="telegram"] .sec-bg {
  background-color: var(--tg-theme-secondary-bg-color);
}
[data-theme="telegram"][style*="--tg-color-scheme: dark;"] .bottom-nav-text {
  color: var(--tg-theme-text-color) !important;
  background-color: var(--tg-theme-text-color) !important;
}
[data-theme="telegram"] .bottom-nav-fill {
  fill: var(--tg-theme-text-color) !important;
  stroke: var(--tg-theme-text-color) !important;
}
[data-theme="telegram"] .primary {
  color: var(--tg-theme-button-color) !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
