.copy-icon {
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px !important;
}
.icon-hidden {
  opacity: 0;
  transform: scale(0.8);
}

.icon-visible {
  opacity: 1;
  transform: scale(1);
}
.b-logo:hover {
  border: 3px solid;
  border-color: var(--tg-theme-button-color, #000);
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
}
.icon-container {
  position: relative;
}

.mask-logo {
  height: 4rem;
  width: 4rem;
  -webkit-clip-path: url(#xlogo);
  clip-path: url(#xlogo);
}

.burnt-card {
  background-color: var(--tg-theme-section-bg-color, #ffffff);
}

.fire-video {
  position: relative;
  z-index: -1;
  height: 2rem;
  width: 2rem;
}

.icon {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  color: white;
}

[data-theme="telegram"] {
  --color-accent: var(--tg-theme-accent-text-color, #3b82f6);
  --color-base-100: var(--tg-theme-bg-color, #ffffff);
  --color-base-200: var(--tg-theme-secondary-bg-color, #f3f4f6);
  --color-text: var(--tg-theme-text-color, #1f2937);
  --color-primary: var(--tg-theme-button-color, #3b82f6);
  --color-primary-content: var(--tg-theme-button-text-color, #ffffff);
  --color-error: var(--tg-theme-destructive-text-color, #ef4444);
}
[data-theme="telegram"] .app-container {
  background-color: var(--color-base-100);
  color: var(--color-text);
}
[data-theme="telegram"] .label {
  color: var(--color-text);
}
.logo-color {
  filter: none;
}
[data-theme="telegram"][style*="--tg-color-scheme: dark;"] .logo-color {
  filter: invert(1) brightness(2);
}

[data-theme="telegram"] .btn-primary {
  background-color: var(--color-primary);
  color: var(--color-primary-content);
  border: none;
  transition: background-color 0.3s;
}

[data-theme="telegram"] .btn-primary:hover {
  background-color: color-mix(in srgb, var(--color-primary) 90%, black);
}

[data-theme="telegram"] .text-color {
  color: var(--tg-theme-text-color);
}

[data-theme="telegram"] .active-bg {
  background-color: var(--tg-theme-button-color);
}

[data-theme="telegram"] .sec-bg {
  background-color: var(--tg-theme-secondary-bg-color);
}

[data-theme="telegram"] .svg-fill {
  fill: var(--tg-theme-button-text-color) !important;
  stroke: var(--tg-theme-button-text-color) !important;
}
[data-theme="telegram"] .primary {
  color: var(--tg-theme-button-color) !important;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

[data-theme="telegram"] .btn-transparent {
  background-color: transparent !important;
}
.bottom-navbar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-bottom: var(--tg-safe-area-inset-bottom);
  height: 3rem;
  color: var(--tg-theme-text-color, #1f2937);
  background-color: var(--tg-theme-secondary-bg-color, #ffffff);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .burnt-logo.avatar.online:before {
    top: 15%;
    right: 30%;
  }

  .burnt-logo.avatar.offline:before {
    top: 15%;
    right: 30%;
  }
  .label-text {
    color: var(--tg-theme-text-color, #000);
  }
  .tg-input:focus {
    box-shadow: none;
    border-color: var(
      --tg-theme-text-color,
      var(--fallback-bc, oklch(var(--bc) / 0.2))
    );
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px;
    outline-color: var(
      --tg-theme-text-color,
      var(--fallback-bc, oklch(var(--bc) / 0.2))
    );
  }
  .tg-input {
    background-color: var(
      --tg-theme-secondary-bg-color,
      var(--fallback-b1, oklch(var(--b1) / var(--tw-bg-opacity)))
    );
  }
  .tg-bg-primary {
    background-color: var(
      --tg-theme-bg-color,
      var(--fallback-bc, oklch(var(--b1) / 1))
    );
  }
  .tg-bg-secondary {
    background-color: var(
      --tg-theme-secondary-bg-color,
      var(--fallback-bc, oklch(var(--b2) / 1))
    );
  }
  .tg-text {
    color: var(--tg-theme-text-color, var(--fallback-bc, oklch(var(--bc) / 1)));
  }
  .nav-icons {
    color: var(--tg-theme-text-color, var(--fallback-bc, oklch(var(--bc) / 1)));
  }

  .tg-link {
    color: var(--tg-theme-link-color, #0000ee);
    fill: var(--tg-theme-link-color, #0000ee);
  }

  .btn.disabled,
  .btn[disabled] {
    background-color: gray;
  }
}
